<h1>{{ question.question_text }}</h1>

{% if error_message %}
    <!-- Here is the third flaw: Bypasses escaping, making it vulnerable to XSS -->
    <p><strong>{{ error_message|safe }}</strong></p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    <!-- Here is the fifth flaw: CSRF token is missing -->
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="submit" value="Vote">
</form>
